<div>
    <h2 id="page-heading">
        <span>Over Times</span>


    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>


    <div class="form-row align-items-end" >
        <div class="col-md-12">
            <jhi-alert></jhi-alert>
        </div>
        <div class="form-group col-md-2">
            <label class="form-control-label" for="field_year">Year</label>
            <select class="form-control" id="field_year" name="year" [(ngModel)]="selectedYear">
                <option [value]="yearOption"  *ngFor="let yearOption of years">{{yearOption}}</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label class="form-control-label" for="field_month">Month</label>
            <select class="form-control" name="month"  id="field_month" [(ngModel)]="selectedMonth">
                <option value="JANUARY">JANUARY</option>
                <option value="FEBRUARY">FEBRUARY</option>
                <option value="MARCH">MARCH</option>
                <option value="APRIL">APRIL</option>
                <option value="MAY">MAY</option>
                <option value="JUNE">JUNE</option>
                <option value="JULY">JULY</option>
                <option value="AUGUST">AUGUST</option>
                <option value="SEPTEMBER">SEPTEMBER</option>
                <option value="OCTOBER">OCTOBER</option>
                <option value="NOVEMBER">NOVEMBER</option>
                <option value="DECEMBER">DECEMBER</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label class="form-control-label" for="field_designation">Designation</label>
            <select class="form-control" id="field_designation" name="designation" [(ngModel)]="selectedDesignationId" >
                <option></option>
                <option [ngValue]="designationOption.id" *ngFor="let designationOption of designations">{{designationOption.name}}</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label class="form-control-label" for="field_fromDate">From Date</label>
            <div class="d-flex">
                <input id="field_fromDate" [(ngModel)]="fromDate" type="datetime-local" class="form-control" name="fromDate"  placeholder="YYYY-MM-DD HH:mm"/>
            </div>
        </div>

        <div class="form-group col-md-2">
            <label class="form-control-label" for="field_toDate">To Date</label>
            <div class="d-flex">
                <input id="field_toDate" [(ngModel)]="toDate" type="datetime-local" class="form-control" name="toDate"  placeholder="YYYY-MM-DD HH:mm"/>
            </div>
        </div>

        <div class="form-group col-md-2" style="align-items: end;">
            <button class="btn btn-secondary" (click)="navigate()">Fetch</button>
        </div>
    </div>
    <div class="alert alert-warning" id="no-result" *ngIf="overTimes?.length === 0">
        <span>No overTimes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="overTimes && overTimes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="year"><span>Year</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="month"><span>Month</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fromDate"><span>From Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="toDate"><span>To Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalOverTime"><span>Total Over Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="officialOverTime"><span>Official Over Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="extraOverTime"><span>Extra Over Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalAmount"><span>Total Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="officialAmount"><span>Official Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="extraAmount"><span>Extra Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="note"><span>Note</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="executedOn"><span>Executed On</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="executedBy"><span>Executed By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="employee.name"><span>Employee</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let overTime of overTimes ;trackBy: trackId">
                    <td><a [routerLink]="['/over-time', overTime.id, 'view']">{{ overTime.id }}</a></td>
                    <td>{{ overTime.year }}</td>
                    <td>{{ overTime.month }}</td>
                    <td>{{ overTime.fromDate | date:'medium' }}</td>
                    <td>{{ overTime.toDate | date:'medium' }}</td>
                    <td>{{ overTime.totalOverTime }}</td>
                    <td>{{ overTime.officialOverTime }}</td>
                    <td>{{ overTime.extraOverTime }}</td>
                    <td>{{ overTime.totalAmount }}</td>
                    <td>{{ overTime.officialAmount }}</td>
                    <td>{{ overTime.extraAmount }}</td>
                    <td>{{ overTime.note }}</td>
                    <td>{{ overTime.executedOn | date:'medium' }}</td>
                    <td>{{ overTime.executedBy }}</td>
                    <td>
                        <div *ngIf="overTime.employee">
                            <a [routerLink]="['/employee', overTime.employee?.id, 'view']" >{{ overTime.employee?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/over-time', overTime.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/over-time', overTime.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(overTime)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="overTimes && overTimes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
