<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="training">
            <h2><span>Training</span> </h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Serial</span></dt>
                <dd>
                    <span>{{ training.serial }}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ training.name }}</span>
                </dd>
                <dt><span>Training Institute</span></dt>
                <dd>
                    <span>{{ training.trainingInstitute }}</span>
                </dd>
                <dt><span>Received On</span></dt>
                <dd>
                    <span>{{ training.receivedOn }}</span>
                </dd>
                <dt><span>Attachment</span></dt>
                <dd>
                    <div *ngIf="training.attachment">
                        <a (click)="openFile(training.attachmentContentType, training.attachment)">open</a>
                        {{ training.attachmentContentType }}, {{ byteSize(training.attachment) }}
                    </div>
                </dd>

            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['../../../training', training.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
