<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-training-heading">{{!editForm.get('id')!.value?'Add': 'Update'}} Training</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>


                <div class="form-group">
                    <label class="form-control-label" for="field_serial">Serial</label>
                    <input type="number" class="form-control" name="serial" id="field_serial"
                           formControlName="serial"/>
                    <div *ngIf="editForm.get('serial')!.invalid && (editForm.get('serial')!.dirty || editForm.get('serial')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('serial')?.errors?.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.get('serial')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_name">Training Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_trainingInstitute">Training Institute</label>
                    <input type="text" class="form-control" name="trainingInstitute" id="field_trainingInstitute"
                           formControlName="trainingInstitute"/>
                    <div *ngIf="editForm.get('trainingInstitute')!.invalid && (editForm.get('trainingInstitute')!.dirty || editForm.get('trainingInstitute')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('trainingInstitute')?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_receivedOn">Received On</label>
                    <div class="input-group">
                        <input id="field_receivedOn" type="text" class="form-control" name="receivedOn" ngbDatepicker #receivedOnDp="ngbDatepicker" formControlName="receivedOn"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="receivedOnDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_attachment">Attachment</label>
                    <div>
                        <div *ngIf="editForm.get('attachment')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('attachmentContentType')!.value, editForm.get('attachment')!.value)">open</a><br>
                            <span class="pull-left">{{ editForm.get('attachmentContentType')!.value }}, {{ byteSize(editForm.get('attachment')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({attachment: null});editForm.patchValue({attachmentContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_attachment" (change)="setFileData($event, 'attachment', false)"/>
                    </div>
                    <input type="hidden" class="form-control" name="attachment" id="field_attachment"
                           formControlName="attachment"/>
                    <input type="hidden" class="form-control" name="attachmentContentType" id="field_attachmentContentType"
                           formControlName="attachmentContentType" />
                </div>

            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
