<div>
    <h2 id="page-heading">
        <span>Employee Accounts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-employee-account" [routerLink]="['/employee-account/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Employee Account
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="employeeAccounts?.length === 0">
        <span>No employeeAccounts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="employeeAccounts && employeeAccounts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="accountType"><span>Account Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="accountNo"><span>Account No</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="isSalaryAccount"><span>Is Salary Account</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="employee.name"><span>Employee</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employeeAccount of employeeAccounts ;trackBy: trackId">
                    <td><a [routerLink]="['/employee-account', employeeAccount.id, 'view']">{{ employeeAccount.id }}</a></td>
                    <td>{{ employeeAccount.accountType }}</td>
                    <td>{{ employeeAccount.accountNo }}</td>
                    <td>{{ employeeAccount.isSalaryAccount }}</td>
                    <td>
                        <div *ngIf="employeeAccount.employee">
                            <a [routerLink]="['/employee', employeeAccount.employee?.id, 'view']" >{{ employeeAccount.employee?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/employee-account', employeeAccount.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/employee-account', employeeAccount.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(employeeAccount)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="employeeAccounts && employeeAccounts.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
