<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-job-history-heading">{{!editForm.get('id')!.value?"Add": "Edit"}} Job History</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>


                <div class="form-group">
                    <label class="form-control-label" for="field_serial">Serial</label>
                    <input type="number" class="form-control" name="serial" id="field_serial"
                           formControlName="serial"/>
                    <div *ngIf="editForm.get('serial')!.invalid && (editForm.get('serial')!.dirty || editForm.get('serial')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('serial')?.errors?.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.get('serial')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_organization">Organization</label>
                    <input type="text" class="form-control" name="organization" id="field_organization"
                           formControlName="organization"/>
                    <div *ngIf="editForm.get('organization')!.invalid && (editForm.get('organization')!.dirty || editForm.get('organization')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('organization')?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_designation">Designation</label>
                    <input type="text" class="form-control" name="designation" id="field_designation"
                           formControlName="designation"/>
                    <div *ngIf="editForm.get('designation')!.invalid && (editForm.get('designation')!.dirty || editForm.get('designation')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('designation')?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="form-control-label" for="field_from">From</label>
                        <div class="input-group">
                            <input (ngModelChange)="calculateTotalExperience()" id="field_from" type="text" class="form-control" name="from" ngbDatepicker #fromDp="ngbDatepicker" formControlName="from"/>
                            <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fromDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="form-control-label" for="field_to">To</label>
                        <div class="input-group">
                            <input (ngModelChange)="calculateTotalExperience()" id="field_to" type="text" class="form-control" name="to" ngbDatepicker #toDp="ngbDatepicker" formControlName="to"/>
                            <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="toDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_totalExperience">Total Experience (In years)</label>
                    <input type="number" class="form-control" name="totalExperience" id="field_totalExperience"
                           formControlName="totalExperience"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_payScale">Pay Scale</label>
                    <input type="number" class="form-control" name="payScale" id="field_payScale"
                           formControlName="payScale"/>
                </div>




            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
