<div>
    <h2 id="page-heading">
        <span>Leave Balances</span>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="leaveBalances?.length === 0">
        <span>No leaveBalances found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="leaveBalances && leaveBalances.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Total Days</span></th>
                    <th scope="col" ><span>Remaining Days</span></th>
                    <th scope="col" ><span>Employee</span></th>
                    <th scope="col" ><span>Leave Type</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let leaveBalance of leaveBalances ;trackBy: trackId">
                    <td><a [routerLink]="['/leave-balance', leaveBalance.id, 'view']">{{ leaveBalance.id }}</a></td>
                    <td>{{ leaveBalance.totalDays }}</td>
                    <td>{{ leaveBalance.remainingDays }}</td>
                    <td>
                        <div *ngIf="leaveBalance.employeeId">
                            <a [routerLink]="['/employee', leaveBalance.employeeId , 'view']" >{{ leaveBalance.employeeId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="leaveBalance.leaveTypeId">
                            <a [routerLink]="['/leave-type', leaveBalance.leaveTypeId , 'view']" >{{ leaveBalance.leaveTypeId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/leave-balance', leaveBalance.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
