<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-leave-application-heading">Create or edit a Leave Application</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_from">From</label>
                    <div class="input-group">
                        <input id="field_from" type="text" class="form-control" name="from" ngbDatepicker #fromDp="ngbDatepicker" formControlName="from"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fromDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('from')!.invalid && (editForm.get('from')!.dirty || editForm.get('from')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('from')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_to">To</label>
                    <div class="input-group">
                        <input id="field_to" type="text" class="form-control" name="to" ngbDatepicker #toDp="ngbDatepicker" formControlName="to"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="toDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('to')!.invalid && (editForm.get('to')!.dirty || editForm.get('to')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('to')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_totalDays">Total Days</label>
                    <input type="number" class="form-control" name="totalDays" id="field_totalDays"
                           formControlName="totalDays"/>
                    <div *ngIf="editForm.get('totalDays')!.invalid && (editForm.get('totalDays')!.dirty || editForm.get('totalDays')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('totalDays')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('totalDays')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="APPLIED">APPLIED</option>
                        <option value="ACCEPTED">ACCEPTED</option>
                        <option value="REJECTED">REJECTED</option>
                    </select>
                    <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('status')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_reason">Reason</label>
                    <input type="text" class="form-control" name="reason" id="field_reason"
                           formControlName="reason"/>
                    <div *ngIf="editForm.get('reason')!.invalid && (editForm.get('reason')!.dirty || editForm.get('reason')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('reason')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_appliedBy">Applied By</label>
                    <select class="form-control" id="field_appliedBy" name="appliedBy" formControlName="appliedBy">
                        <option *ngIf="!editForm.get('appliedBy')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id === editForm.get('appliedBy')!.value?.id ? editForm.get('appliedBy')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('appliedBy')!.invalid && (editForm.get('appliedBy')!.dirty || editForm.get('appliedBy')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('appliedBy')?.errors?.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_actionTakenBy">Action Taken By</label>
                    <select class="form-control" id="field_actionTakenBy" name="actionTakenBy" formControlName="actionTakenBy">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('actionTakenBy')!.value?.id ? editForm.get('actionTakenBy')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_leaveType">Leave Type</label>
                    <select class="form-control" id="field_leaveType" name="leaveType" formControlName="leaveType">
                        <option *ngIf="!editForm.get('leaveType')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="leaveTypeOption.id === editForm.get('leaveType')!.value?.id ? editForm.get('leaveType')!.value : leaveTypeOption" *ngFor="let leaveTypeOption of leavetypes; trackBy: trackById">{{ leaveTypeOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('leaveType')!.invalid && (editForm.get('leaveType')!.dirty || editForm.get('leaveType')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('leaveType')?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
