<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="employeeSalary">
            <h2><span>Salary structure of </span> {{ employeeSalary?.employee?.name!   }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Gross</span></dt>
                <dd>
                    <span>{{ employeeSalary.gross }}</span>
                </dd>
                <dt><span>Increment Amount</span></dt>
                <dd>
                    <span>{{ employeeSalary.incrementAmount }}</span>
                </dd>
                <dt><span>Increment Percentage</span></dt>
                <dd>
                    <span>{{ employeeSalary.incrementPercentage }}</span>
                </dd>
                <dt><span>Salary Start Date</span></dt>
                <dd>
                    <span>{{ employeeSalary.salaryStartDate | date: 'dd-MMM-yyyy hh:mm a'}}</span>
                </dd>
                <dt><span>Salary End Date</span></dt>
                <dd>
                    <span>{{ employeeSalary.salaryEndDate | date: 'dd-MMM-yyyy hh:mm a' }}</span>
                </dd>
                <dt><span>Next Increment Date</span></dt>
                <dd>
                    <span>{{ employeeSalary.nextIncrementDate | date: 'dd-MMM-yyyy hh:mm a' }}</span>
                </dd>
                <dt><span>Basic</span></dt>
                <dd>
                    <span>{{ employeeSalary.basic }}</span>
                </dd>
                <dt><span>Basic Percent</span></dt>
                <dd>
                    <span>{{ employeeSalary.basicPercent }}</span>
                </dd>
                <dt><span>House Rent</span></dt>
                <dd>
                    <span>{{ employeeSalary.houseRent }}</span>
                </dd>
                <dt><span>House Rent Percent</span></dt>
                <dd>
                    <span>{{ employeeSalary.houseRentPercent }}</span>
                </dd>
                <dt><span>Total Allowance</span></dt>
                <dd>
                    <span>{{ employeeSalary.totalAllowance || defaultAllowance?.totalAllowance! }}</span>
                </dd>
                <dt><span>Medical Allowance</span></dt>
                <dd>
                    <span>{{ employeeSalary.medicalAllowance || defaultAllowance?.medicalAllowance! }}</span>
                </dd>
                <dt><span>Medical Allowance Percent</span></dt>
                <dd>
                    <span>{{ employeeSalary.medicalAllowancePercent || defaultAllowance?.medicalAllowancePercent! }}</span>
                </dd>
                <dt><span>Convince Allowance</span></dt>
                <dd>
                    <span>{{ employeeSalary.convinceAllowance || defaultAllowance?.convinceAllowance!}}</span>
                </dd>
                <dt><span>Convince Allowance Percent</span></dt>
                <dd>
                    <span>{{ employeeSalary.convinceAllowancePercent || defaultAllowance?.convinceAllowancePercent!}}</span>
                </dd>
                <dt><span>Food Allowance</span></dt>
                <dd>
                    <span>{{ employeeSalary.foodAllowance || defaultAllowance?.foodAllowance!}}</span>
                </dd>
                <dt><span>Food Allowance Percent</span></dt>
                <dd>
                    <span>{{ employeeSalary.foodAllowancePercent || defaultAllowance?.foodAllowancePercent!}}</span>
                </dd>
                <dt><span>Special Allowance Active Status</span></dt>
                <dd>
                    <span>{{ employeeSalary.specialAllowanceActiveStatus }}</span>
                </dd>
                <dt><span>Special Allowance</span></dt>
                <dd>
                    <span>{{ employeeSalary.specialAllowance }}</span>
                </dd>
                <dt><span>Special Allowance Percent</span></dt>
                <dd>
                    <span>{{ employeeSalary.specialAllowancePercent }}</span>
                </dd>
                <dt><span>Special Allowance Description</span></dt>
                <dd>
                    <span>{{ employeeSalary.specialAllowanceDescription }}</span>
                </dd>
                <dt><span>Insurance Active Status</span></dt>
                <dd>
                    <span>{{ employeeSalary.insuranceActiveStatus }}</span>
                </dd>
                <dt><span>Insurance Amount</span></dt>
                <dd>
                    <span>{{ employeeSalary.insuranceAmount }}</span>
                </dd>
                <dt><span>Insurance Percent</span></dt>
                <dd>
                    <span>{{ employeeSalary.insurancePercent }}</span>
                </dd>
                <dt><span>Insurance Description</span></dt>
                <dd>
                    <span>{{ employeeSalary.insuranceDescription }}</span>
                </dd>
                <dt><span>Insurance Process Type</span></dt>
                <dd>
                    <span>{{ employeeSalary.insuranceProcessType }}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{ employeeSalary.status }}</span>
                </dd>

            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['../../../employee-salary', employeeSalary.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
