<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-festival-allowance-payment-dtl-heading">Create or edit a Festival Allowance Payment Dtl</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                           formControlName="amount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="DONE">DONE</option>
                        <option value="NOT_DONE">NOT_DONE</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_executedOn">Executed On</label>
                    <div class="d-flex">
                        <input id="field_executedOn" type="datetime-local" class="form-control" name="executedOn" formControlName="executedOn" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_executedBy">Executed By</label>
                    <input type="text" class="form-control" name="executedBy" id="field_executedBy"
                           formControlName="executedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_note">Note</label>
                    <textarea class="form-control" name="note" id="field_note"
                              formControlName="note"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_employee">Employee</label>
                    <select class="form-control" id="field_employee" name="employee" formControlName="employee">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="employeeOption.id === editForm.get('employee')!.value?.id ? editForm.get('employee')!.value : employeeOption" *ngFor="let employeeOption of employees; trackBy: trackById">{{ employeeOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_festivalAllowancePayment">Festival Allowance Payment</label>
                    <select class="form-control" id="field_festivalAllowancePayment" name="festivalAllowancePayment" formControlName="festivalAllowancePayment">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="festivalAllowancePaymentOption.id === editForm.get('festivalAllowancePayment')!.value?.id ? editForm.get('festivalAllowancePayment')!.value : festivalAllowancePaymentOption" *ngFor="let festivalAllowancePaymentOption of festivalallowancepayments; trackBy: trackById">{{ festivalAllowancePaymentOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
