<div class="row justify-content-center">
    <div class="col-md-8">
        <div *ngIf="advance">
            <h2><span>Advance</span></h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Provided On</span></dt>
                <dd>
                    <span>{{ advance.providedOn | date: 'dd-MM-yyyy'}}</span>
                </dd>
                <dt><span>Reason</span></dt>
                <dd>
                    <span>{{ advance.reason }}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{ advance.amount }}</span>
                </dd>
                <dt><span>Payment Percentage</span></dt>
                <dd>
                    <span>{{ advance.paymentPercentage }}</span>
                </dd>
                <dt><span>Monthly Payment Amount</span></dt>
                <dd>
                    <span>{{ advance.monthlyPaymentAmount }}</span>
                </dd>
                <dt><span>Payment Status</span></dt>
                <dd>
                    <span>{{ advance.paymentStatus }}</span>
                </dd>
                <dt><span>Amount Paid</span></dt>
                <dd>
                    <span>{{ advance.amountPaid }}</span>
                </dd>
                <dt><span>Amount Left</span></dt>
                <dd>
                    <span>{{ advance.amountLeft }}</span>
                </dd>

            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/advance', advance.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
    <div class="col-md-8" style="padding-top: 2em;">
        <router-outlet></router-outlet>
    </div>
</div>
