<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="advance">
            <h2><span>Advance</span> {{ advance.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Paid On</span></dt>
                <dd>
                    <span>{{ advance.paidOn }}</span>
                </dd>
                <dt><span>Reason</span></dt>
                <dd>
                    <span>{{ advance.reason }}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{ advance.amount }}</span>
                </dd>
                <dt><span>Payment Percentage</span></dt>
                <dd>
                    <span>{{ advance.paymentPercentage }}</span>
                </dd>
                <dt><span>Payment Status</span></dt>
                <dd>
                    <span>{{ advance.paymentStatus }}</span>
                </dd>
                <dt><span>Employee</span></dt>
                <dd>
                    <div *ngIf="advance.employee">
                        <a [routerLink]="['/employee', advance.employee?.id, 'view']">{{ advance.employee?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/advance', advance.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
