<div>
    <h2 id="page-heading">
        <span>Fines</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fine" [routerLink]="['new', employeeId]">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Fine
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="fines?.length === 0">
        <span>No fines found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="fines && fines.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>SL</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="finedOn"><span>Fined On</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="amount"><span>Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="finePercentage"><span>Fine Percentage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="monthlyFineAmount"><span>Monthly Fine Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="paymentStatus"><span>Payment Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="amountPaid"><span>Amount Paid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="amountLeft"><span>Amount Left</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fine of fines; let i= index ;trackBy: trackId">
                    <td><a [routerLink]="['/fine', fine.id, 'view']">{{(page -1) * itemsPerPage + (i+1)}}</a></td>
                    <td>{{ fine.finedOn | date:'mediumDate' }}</td>
                    <td>{{ fine.amount }}</td>
                    <td>{{ fine.finePercentage }}</td>
                    <td>{{ fine.monthlyFineAmount }}</td>
                    <td>{{ fine.paymentStatus }}</td>
                    <td>{{ fine.amountPaid }}</td>
                    <td>{{ fine.amountLeft }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="[ fine.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="[ fine.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(fine)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="fines && fines.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
