<div class="row justify-content-center">
    <div class="col-md-12">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-personal-info-heading">{{!editForm.get('id')!.value?'Add ': 'Edit'}} Personal Information</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" for="field_name">Name</label>
                            <input type="text" class="form-control" name="name" id="field_name"
                                   formControlName="name"/>
                            <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('name')?.errors?.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="field_banglaName">Bangla Name</label>
                            <input type="text" class="form-control" name="banglaName" id="field_banglaName"
                                   formControlName="banglaName"/>
                            <div *ngIf="editForm.get('banglaName')!.invalid && (editForm.get('banglaName')!.dirty || editForm.get('banglaName')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('banglaName')?.errors?.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" >
                        <div class="form-group">
                            <label class="form-control-label" for="field_photo">Photo</label>
                            <div>
                                <div *ngIf="editForm.get('photo')!.value" class="form-text text-danger clearfix">
                                    <img [src]="'data:'+editForm.get('photoContentType')!.value+';base64,'+editForm.get('photo')!.value"  class="img-fluid rounded" width="170" height="165" alt="Photo"/>
                                    <span class="pull-left">{{ editForm.get('photoContentType')!.value }}, {{ byteSize(editForm.get('photo')!.value) }}</span>
                                    <button type="button" (click)="editForm.patchValue({photo: null});editForm.patchValue({photoContentType: null});"
                                            class="btn btn-secondary btn-xs pull-right">
                                        <fa-icon icon="times"></fa-icon>
                                    </button>
                                </div>
                                <input type="file" id="file_photo" (change)="setFileData($event, 'photo', false)"/>
                            </div>
                            <input type="hidden" class="form-control" name="photo" id="field_photo"
                                   formControlName="photo"/>
                            <input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType"
                                   formControlName="photoContentType" />
                        </div>
                    </div>

                    <div class="form-group  col-md-6">
                        <label class="form-control-label" for="field_fatherName">Father Name</label>
                        <input type="text" class="form-control" name="fatherName" id="field_fatherName"
                               formControlName="fatherName"/>
                        <div *ngIf="editForm.get('fatherName')!.invalid && (editForm.get('fatherName')!.dirty || editForm.get('fatherName')!.touched)">
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('fatherName')?.errors?.required">
                                This field is required.
                            </small>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="form-control-label" for="field_fatherNameBangla">পিতার নাম</label>
                        <input type="text" class="form-control" name="fatherNameBangla" id="field_fatherNameBangla"
                               formControlName="fatherNameBangla"/>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="form-control-label" for="field_motherName">Mother Name</label>
                        <input type="text" class="form-control" name="motherName" id="field_motherName"
                               formControlName="motherName"/>
                        <div *ngIf="editForm.get('motherName')!.invalid && (editForm.get('motherName')!.dirty || editForm.get('motherName')!.touched)">
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('motherName')?.errors?.required">
                                This field is required.
                            </small>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="form-control-label" for="field_motherNameBangla">মাতার নাম</label>
                        <input type="text" class="form-control" name="motherNameBangla" id="field_motherNameBangla"
                               formControlName="motherNameBangla"/>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="form-control-label" for="field_gender">Gender</label>
                        <select class="form-control" name="gender" formControlName="gender" id="field_gender">
                            <option value="MALE">MALE</option>
                            <option value="FEMALE">FEMALE</option>
                            <option value="OTHERS">OTHERS</option>
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="form-control-label" for="field_maritalStatus">Marital Status</label>
                        <select class="form-control" name="maritalStatus" formControlName="maritalStatus" id="field_maritalStatus">
                            <option value="SINGLE">SINGLE</option>
                            <option value="MARRIED">MARRIED</option>
                        </select>
                    </div>

                    <div class="form-group col-md-6" *ngIf="editForm.get('maritalStatus')!.value === 'MARRIED'">
                        <label class="form-control-label" for="field_spouseName">Spouse Name</label>
                        <input type="text" class="form-control" name="spouseName" id="field_spouseName"
                               formControlName="spouseName"/>
                    </div>

                    <div class="form-group col-md-6" *ngIf="editForm.get('maritalStatus')!.value === 'MARRIED'">
                        <label class="form-control-label" for="field_spouseNameBangla">স্বামী/স্ত্রীর নাম</label>
                        <input type="text" class="form-control" name="spouseNameBangla" id="field_spouseNameBangla"
                               formControlName="spouseNameBangla"/>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="form-control-label" for="field_dateOfBirth">Date Of Birth</label>
                        <div class="input-group">
                            <input id="field_dateOfBirth" type="text" class="form-control" name="dateOfBirth" ngbDatepicker #dateOfBirthDp="ngbDatepicker" formControlName="dateOfBirth"/>
                            <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateOfBirthDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="form-control-label" for="field_bloodGroup">Blood Group</label>
                        <select class="form-control" name="bloodGroup" formControlName="bloodGroup" id="field_bloodGroup">
                            <option value="A_POSITIVE">A_POSITIVE</option>
                            <option value="A_NEGATIVE">A_NEGATIVE</option>
                            <option value="B_POSITIVE">B_POSITIVE</option>
                            <option value="B_NEGATIVE">B_NEGATIVE</option>
                            <option value="O_POSITIVE">O_POSITIVE</option>
                            <option value="O_NEGATIVE">O_NEGATIVE</option>
                            <option value="AB_POSITIVE">AB_POSITIVE</option>
                            <option value="AB_NEGATIVE">AB_NEGATIVE</option>
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="form-control-label" for="field_nationalId">National Id</label>
                        <input type="text" class="form-control" name="nationalId" id="field_nationalId"
                               formControlName="nationalId"/>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="form-control-label" for="field_nationalIdAttachment">National Id Attachment</label>
                        <div>
                            <div *ngIf="editForm.get('nationalIdAttachment')!.value" class="form-text text-danger clearfix">
                                <a class="pull-left" (click)="openFile(editForm.get('nationalIdAttachmentContentType')!.value, editForm.get('nationalIdAttachment')!.value)">open</a><br>
                                <span class="pull-left">{{ editForm.get('nationalIdAttachmentContentType')!.value }}, {{ byteSize(editForm.get('nationalIdAttachment')!.value) }}</span>
                                <button type="button" (click)="editForm.patchValue({nationalIdAttachment: null});editForm.patchValue({nationalIdAttachmentContentType: null});"
                                        class="btn btn-secondary btn-xs pull-right">
                                    <fa-icon icon="times"></fa-icon>
                                </button>
                            </div>
                            <input type="file" id="file_nationalIdAttachment" (change)="setFileData($event, 'nationalIdAttachment', false)"/>
                        </div>
                        <input type="hidden" class="form-control" name="nationalIdAttachment" id="field_nationalIdAttachment"
                               formControlName="nationalIdAttachment"/>
                        <input type="hidden" class="form-control" name="nationalIdAttachmentContentType" id="field_nationalIdAttachmentContentType"
                               formControlName="nationalIdAttachmentContentType" />
                    </div>

                    <div class="form-group col-md-6">
                        <label class="form-control-label" for="field_birthRegistration">Birth Registration</label>
                        <input type="text" class="form-control" name="birthRegistration" id="field_birthRegistration"
                               formControlName="birthRegistration"/>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="form-control-label" for="field_birthRegistrationAttachment">Birth Registration Attachment</label>
                        <div>
                            <div *ngIf="editForm.get('birthRegistrationAttachment')!.value" class="form-text text-danger clearfix">
                                <a class="pull-left" (click)="openFile(editForm.get('birthRegistrationAttachmentContentType')!.value, editForm.get('birthRegistrationAttachment')!.value)">open</a><br>
                                <span class="pull-left">{{ editForm.get('birthRegistrationAttachmentContentType')!.value }}, {{ byteSize(editForm.get('birthRegistrationAttachment')!.value) }}</span>
                                <button type="button" (click)="editForm.patchValue({birthRegistrationAttachment: null});editForm.patchValue({birthRegistrationAttachmentContentType: null});"
                                        class="btn btn-secondary btn-xs pull-right">
                                    <fa-icon icon="times"></fa-icon>
                                </button>
                            </div>
                            <input type="file" id="file_birthRegistrationAttachment" (change)="setFileData($event, 'birthRegistrationAttachment', false)"/>
                        </div>
                        <input type="hidden" class="form-control" name="birthRegistrationAttachment" id="field_birthRegistrationAttachment"
                               formControlName="birthRegistrationAttachment"/>
                        <input type="hidden" class="form-control" name="birthRegistrationAttachmentContentType" id="field_birthRegistrationAttachmentContentType"
                               formControlName="birthRegistrationAttachmentContentType" />
                    </div>

                    <div class="form-group col-md-6">
                        <label class="form-control-label" for="field_height">Height</label>
                        <input type="number" class="form-control" name="height" id="field_height"
                               formControlName="height"/>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="form-control-label" for="field_religion">Religion</label>
                        <select class="form-control" name="religion" formControlName="religion" id="field_religion">
                            <option value="ISLAM">ISLAM</option>
                            <option value="HINDU">HINDU</option>
                            <option value="BUDDHIST">BUDDHIST</option>
                            <option value="CHRISTIAN">CHRISTIAN</option>
                            <option value="OTHERS">OTHERS</option>
                        </select>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="form-control-label" for="field_emergencyContact">Emergency Contact</label>
                        <input type="text" class="form-control" name="emergencyContact" id="field_emergencyContact"
                               formControlName="emergencyContact"/>
                    </div>
                </div>


            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
