<style>
    .navbar-width {
        width: 230px;
    }


    li {
        border-bottom: 1px solid #b3d4fc;
    }

    .navbar-component {
        background-color: whitesmoke;
    }

    .navbar-internal {
        background-color: ghostwhite;
    }

    .dropdown-toggle {
        font-size: 15px;
    }

    .dropdown-toggle::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .3em;
        vertical-align: middle;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-left: .3em solid transparent;
        float: right;
        margin-top: 8px;
    }

    @media only screen and (max-width: 640px) {




        span {
            font-size: 10px;
        }


        li {
            border-bottom: 1px solid #b3d4fc;
        }

        .navbar-component {
            background-color: whitesmoke;
        }

        .navbar-internal {
            background-color: ghostwhite;
        }

        .dropdown-toggle::after {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: .1em;
            vertical-align: middle;
            content: "";
            border-top: .3em solid;
            border-right: .3em solid transparent;
            border-left: .3em solid transparent;
            float: right;
            margin-top: 8px;
        }
    }
</style>
<nav style="height: 100%;background-color: whitesmoke;" id="sidebar" class="navbar-width"
    [class.active]="leftMenuHidden">
    <ul class="list-unstyled components navbar-component">

        <!--        <li>
            <img src="../../../content/images/admin.jpg"  class="img-circle" height="200" width="200"/>
        </li>-->

        <li routerLinkActive="active" class="list-custom" [routerLinkActiveOptions]="{exact: true}">
            <a (click)="entities=!entities" data-toggle="collapse" class=" nav-link dropdown-toggle "
                [attr.aria-expanded]="false">

                <fa-icon icon="cog"></fa-icon>
                <span *ngIf="!leftMenuHidden">
                    Configuration
                </span>

            </a>
            <ul [ngbCollapse]="!entities" class="list-unstyled navbar-internal" id="homeSubmenu">
                <li class="list-custom">
                    <a class="dropdown-item" routerLink="company" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }" (click)="getSidebarWidth() < 640 && mobileSidebarHide()">
                        <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                        <span>Company</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="department" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }" (click)="getSidebarWidth() < 640 && mobileSidebarHide()">
                        <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                        <span>Department</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="designation" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }" (click)="getSidebarWidth() < 640 && mobileSidebarHide()">
                        <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                        <span>Designation</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="grade" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }" (click)="getSidebarWidth() < 640 && mobileSidebarHide()">
                        <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                        <span>Grade</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="line" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }" (click)="getSidebarWidth() < 640 && mobileSidebarHide()">
                        <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                        <span>Line</span>
                    </a>
                </li>
                <li>

                    <a class="dropdown-item" routerLink="default-allowance" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="getSidebarWidth() < 640 && mobileSidebarHide()">
                        <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                        <span>Default Allowance</span>
                    </a>
                </li>
                <li>

                    <a class="dropdown-item" routerLink="division" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }" (click)="getSidebarWidth() < 640 && mobileSidebarHide()">
                        <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                        <span>Division</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="district" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }" (click)="getSidebarWidth() < 640 && mobileSidebarHide()">
                        <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                        <span>District</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="thana" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"(click)="getSidebarWidth() < 640 && mobileSidebarHide()">
                        <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                        <span>Thana</span>
                    </a>
                </li>
            </ul>
        </li>

        <li routerLinkActive="active" class="list-custom" [routerLinkActiveOptions]="{exact: true}">
            <a (click)="employeeManagement=!employeeManagement" data-toggle="collapse"
                class=" nav-link dropdown-toggle " [attr.aria-expanded]="false">

                <fa-icon icon="cog"></fa-icon>
                <span *ngIf="!leftMenuHidden">
                    Employee Management
                </span>

            </a>
            <ul [ngbCollapse]="!employeeManagement" class="list-unstyled navbar-internal" id="empploye">
                <li>
                    <a class="dropdown-item" routerLink="employee" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }" (click)="getSidebarWidth() < 640 && mobileSidebarHide()">
                        <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                        <span>Employee</span>
                    </a>
                </li>

            </ul>
        </li>


        <li routerLinkActive="active" class="list-custom" [routerLinkActiveOptions]="{exact: true}">
            <a (click)="payrollManagement=!payrollManagement" data-toggle="collapse" class=" nav-link dropdown-toggle "
               [attr.aria-expanded]="false">

                <fa-icon icon="cog"></fa-icon>
                <span *ngIf="!leftMenuHidden">
                            Payroll Management
                        </span>

            </a>
            <ul [ngbCollapse]="!payrollManagement" class="list-unstyled navbar-internal" id="payroll">
                <li>
                    <a class="dropdown-item" routerLink="payroll-management" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="getSidebarWidth() < 640 && mobileSidebarHide()" >
                        <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                        <span>Payroll</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="partial-salary" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="getSidebarWidth() < 640 && mobileSidebarHide()" >
                        <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                        <span>Partial Salary</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="over-time" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="getSidebarWidth() < 640 && mobileSidebarHide()">
                        <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                        <span>Over Time</span>
                    </a>
                </li>

            </ul>
        </li>

        <li routerLinkActive="active" class="list-custom" [routerLinkActiveOptions]="{exact: true}">
            <a (click)="weekendManagement=!weekendManagement" data-toggle="collapse" class=" nav-link dropdown-toggle "
               [attr.aria-expanded]="false">

                <fa-icon icon="cog"></fa-icon>
                <span *ngIf="!leftMenuHidden">
                            Weekend Management
                        </span>

            </a>
            <ul [ngbCollapse]="!weekendManagement" class="list-unstyled navbar-internal" id="weekend">
                <li>
                    <a class="dropdown-item" routerLink="weekend" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
                        <fa-icon icon="calendar-week" [fixedWidth]="true"></fa-icon>
                        <span>Weekend</span>
                    </a>
                </li>

            </ul>
        </li>

        <li routerLinkActive="active" class="list-custom" [routerLinkActiveOptions]="{exact: true}">
            <a (click)="holidayManagement=!holidayManagement" data-toggle="collapse" class=" nav-link dropdown-toggle "
               [attr.aria-expanded]="false">

                <fa-icon icon="cog"></fa-icon>
                <span *ngIf="!leftMenuHidden">
                            Holiday Management
                        </span>

            </a>
            <ul [ngbCollapse]="!holidayManagement" class="list-unstyled navbar-internal" id="holiday">
                <li>
                    <a class="dropdown-item" routerLink="holiday-type" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
                        <fa-icon icon="list-alt" [fixedWidth]="true"></fa-icon>
                        <span>Holiday Type</span>
                    </a>
                </li>

                <li>
                    <a class="dropdown-item" routerLink="holiday" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
                        <fa-icon icon="star" [fixedWidth]="true"></fa-icon>
                        <span>Holiday</span>
                    </a>
                </li>

            </ul>
        </li>

        <li routerLinkActive="active" class="list-custom" [routerLinkActiveOptions]="{exact: true}">
            <a (click)="attendanceManagement=!attendanceManagement" data-toggle="collapse" class=" nav-link dropdown-toggle "
               [attr.aria-expanded]="false">

                <fa-icon icon="cog"></fa-icon>
                <span *ngIf="!leftMenuHidden">
                            Attendance Management
                        </span>

            </a>
            <ul [ngbCollapse]="!attendanceManagement" class="list-unstyled navbar-internal" id="holiday">
                <li>
                    <a class="dropdown-item" routerLink="attendance" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
                        <fa-icon icon="user-clock" [fixedWidth]="true"></fa-icon>
                        <span>Attendance</span>
                    </a>
                </li>

                <li>
                    <a class="dropdown-item" routerLink="attendance-summary" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
                        <fa-icon icon="equals" [fixedWidth]="true"></fa-icon>
                        <span>Summary</span>
                    </a>
                </li>
            </ul>
        </li>

        <li routerLinkActive="active" class="list-custom" [routerLinkActiveOptions]="{exact: true}">
            <a (click)="leaveManagement=!leaveManagement" data-toggle="collapse" class=" nav-link dropdown-toggle "
               [attr.aria-expanded]="false">

                <fa-icon icon="cog"></fa-icon>
                <span *ngIf="!leftMenuHidden">
                            Leave Management
                        </span>

            </a>
            <ul [ngbCollapse]="!leaveManagement" class="list-unstyled navbar-internal" id="leave">
                <li>
                    <a class="dropdown-item" routerLink="leave-type" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
                        <fa-icon icon="list-alt" [fixedWidth]="true"></fa-icon>
                        <span>Leave Type</span>
                    </a>
                </li>

                <li>
                    <a class="dropdown-item" routerLink="leave-application" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
                        <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
                        <span>Leave Application</span>
                    </a>
                </li>

                <li>
                    <a class="dropdown-item" routerLink="leave-application/review" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
                        <fa-icon icon="superscript" [fixedWidth]="true"></fa-icon>
                        <span>Review Application</span>
                    </a>
                </li>

            </ul>
        </li>

    </ul>
</nav>
