<style>
    .navbar-width {
        width: 230px;
    }


    li {
        border-bottom: 1px solid #b3d4fc;
    }

    .navbar-component {
        background-color: whitesmoke;
    }

    .navbar-internal {
        background-color: ghostwhite;
    }

    .dropdown-toggle {
        font-size: 15px;
    }

    .dropdown-toggle::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .3em;
        vertical-align: middle;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-left: .3em solid transparent;
        float: right;
        margin-top: 8px;
    }

    @media only screen and (max-width: 640px) {




        span {
            font-size: 10px;
        }


        li {
            border-bottom: 1px solid #b3d4fc;
        }

        .navbar-component {
            background-color: whitesmoke;
        }

        .navbar-internal {
            background-color: ghostwhite;
        }

        .dropdown-toggle::after {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: .1em;
            vertical-align: middle;
            content: "";
            border-top: .3em solid;
            border-right: .3em solid transparent;
            border-left: .3em solid transparent;
            float: right;
            margin-top: 8px;
        }
    }
</style>
<nav style="height: 100%;background-color: whitesmoke;" id="sidebar" class="navbar-width"
    [class.active]="leftMenuHidden">
    <ul class="list-unstyled components navbar-component">

        <!--        <li>
            <img src="../../../content/images/admin.jpg"  class="img-circle" height="200" width="200"/>
        </li>-->


        <li routerLinkActive="active" class="list-custom" [routerLinkActiveOptions]="{exact: true}">
            <a (click)="customerManagement=!customerManagement" data-toggle="collapse" class=" nav-link dropdown-toggle "
               [attr.aria-expanded]="false">

                <fa-icon icon="cog"></fa-icon>
                <span *ngIf="!leftMenuHidden">
                            Customer Management
                        </span>

            </a>
            <ul [ngbCollapse]="!customerManagement" class="list-unstyled navbar-internal" id="cutomer">


                <li>
                    <a class="dropdown-item" routerLink="vehicle" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
                        <fa-icon icon="equals" [fixedWidth]="true"></fa-icon>
                        <span>Vehicle Information</span>
                    </a>
                </li>

                <li>
                    <a class="dropdown-item" routerLink="customer" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
                        <fa-icon icon="user-clock" [fixedWidth]="true"></fa-icon>
                        <span>Customer</span>
                    </a>
                </li>
<!--                <li>-->
<!--                    <a class="dropdown-item" routerLink="registration-report" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >-->
<!--                        <fa-icon icon="equals" [fixedWidth]="true"></fa-icon>-->
<!--                        <span>Reports</span>-->
<!--                    </a>-->
<!--                </li>-->
            </ul>
        </li>

    </ul>
</nav>
