<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-holiday-heading">Create or edit a Holiday</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group" [hidden]="!editForm.get('id')!.value">
                            <label for="id">ID</label>
                            <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-control-label" for="field_holidayType">Holiday Type</label>
                            <select class="form-control" id="field_holidayType" name="holidayType"
                                    formControlName="holidayType">
                                <option *ngIf="!editForm.get('holidayType')!.value" [ngValue]="null" selected></option>
                                <option
                                    [ngValue]="holidayTypeOption.id === editForm.get('holidayType')!.value?.id ? editForm.get('holidayType')!.value : holidayTypeOption"
                                    *ngFor="let holidayTypeOption of holidaytypes; trackBy: trackById">{{ holidayTypeOption.name }}</option>
                            </select>
                        </div>
                        <div
                            *ngIf="editForm.get('holidayType')!.invalid && (editForm.get('holidayType')!.dirty || editForm.get('holidayType')!.touched)">
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('holidayType')?.errors?.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-control-label" for="field_from">From</label>
                            <div class="input-group">
                                <input id="field_from" type="text" class="form-control" name="from" ngbDatepicker
                                       #fromDp="ngbDatepicker" formControlName="from"/>
                                <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fromDp.toggle()"><fa-icon
                                icon="calendar-alt"></fa-icon></button>
                        </span>
                            </div>
                            <div
                                *ngIf="editForm.get('from')!.invalid && (editForm.get('from')!.dirty || editForm.get('from')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('from')?.errors?.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-control-label" for="field_to">To</label>
                            <div class="input-group">
                                <input id="field_to" type="text" class="form-control" name="to" ngbDatepicker
                                       #toDp="ngbDatepicker" formControlName="to"/>
                                <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="toDp.toggle()"><fa-icon
                                icon="calendar-alt"></fa-icon></button>
                        </span>
                            </div>
                            <div
                                *ngIf="editForm.get('to')!.invalid && (editForm.get('to')!.dirty || editForm.get('to')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('to')?.errors?.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-control-label" for="field_totalDays">Total Days</label>
                            <input type="number" class="form-control" name="totalDays" id="field_totalDays"
                                   formControlName="totalDays"/>
                            <div
                                *ngIf="editForm.get('totalDays')!.invalid && (editForm.get('totalDays')!.dirty || editForm.get('totalDays')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('totalDays')?.errors?.required">
                                    This field is required.
                                </small>
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.get('totalDays')?.errors?.number">
                                    This field should be a number.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
