<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-default-allowance-heading"> {{!editForm.get('id')!.value?'Create': 'Updated'}}  Default Allowance</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="row justify-content-center">
                    <!--<div class="form-group col-md-12">
                        <label class="form-control-label" for="field_basicPercent">Basic Percent</label>
                        <input type="number" class="form-control" name="basicPercent" id="field_basicPercent"
                               formControlName="basicPercent"/>
                    </div>-->
                    <div class="form-group col-md-12">
                        <label class="form-control-label" for="field_totalAllowance">Total Allowance</label>
                        <input type="number" class="form-control" name="totalAllowance" id="field_totalAllowance"
                               formControlName="totalAllowance"/>
                        <div *ngIf="editForm.get('totalAllowance')!.invalid && (editForm.get('totalAllowance')!.dirty || editForm.get('totalAllowance')!.touched)">
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('totalAllowance')?.errors?.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.get('totalAllowance')?.errors?.number">
                                This field should be a number.
                            </small>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="form-control-label" for="field_medicalAllowance">Medical Allowance</label>
                        <input type="number" class="form-control" name="medicalAllowance" id="field_medicalAllowance"
                               formControlName="medicalAllowance"/>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="form-control-label" for="field_medicalAllowancePercent">Medical Allowance Percent</label>
                        <input type="number" class="form-control" name="medicalAllowancePercent" id="field_medicalAllowancePercent"
                               formControlName="medicalAllowancePercent"/>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="form-control-label" for="field_convinceAllowance">Convince Allowance</label>
                        <input type="number" class="form-control" name="convinceAllowance" id="field_convinceAllowance"
                               formControlName="convinceAllowance"/>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="form-control-label" for="field_convinceAllowancePercent">Convince Allowance Percent</label>
                        <input type="number" class="form-control" name="convinceAllowancePercent" id="field_convinceAllowancePercent"
                               formControlName="convinceAllowancePercent"/>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="form-control-label" for="field_foodAllowance">Food Allowance</label>
                        <input type="number" class="form-control" name="foodAllowance" id="field_foodAllowance"
                               formControlName="foodAllowance"/>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="form-control-label" for="field_foodAllowancePercent">Food Allowance Percent</label>
                        <input type="number" class="form-control" name="foodAllowancePercent" id="field_foodAllowancePercent"
                               formControlName="foodAllowancePercent"/>
                    </div>

                </div>



                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="ACTIVE">ACTIVE</option>
                        <option value="NOT_ACTIVE">NOT_ACTIVE</option>
                    </select>
                    <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('status')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
