<div>
    <h2 id="page-heading">
        <span>Employees</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-employee" [routerLink]="['/employee/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Employee
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="employees?.length === 0">
        <span>No employees found</span>
    </div>



    <div class="row">
        <div class="col-md-12">
            <form>
                <h4>Filter by</h4>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Department</span>
                    </div>
                    <select class="form-control" name="department"
                            [(ngModel)]="departmentId" required>
                        <option [ngValue]="-1" selected>Select All</option>
                        <option [ngValue]="departmentOption.id"
                                *ngFor="let departmentOption of departments;">{{ departmentOption.name }}</option>
                    </select>
                    <div>
                        <button class="btn btn-primary" (click)="fetchByDept()">Fetch</button>
                    </div>
                    <div class="col-md-1">

                    </div>
                    <div class="input-group-prepend">
                        <span class="input-group-text">Id</span>
                    </div>
                    <input type="text" class="form-control" name="empId" [(ngModel)]="empId"
                           required/>
                    <div>
                        <button class="btn btn-primary" (click)="fetch()">Fetch</button>
                    </div>


                    <div>
                         <button class="btn btn-secondary" (click)="fetchAll()">Fetch All</button>
                    </div>

                </div>
            </form>
        </div>
    </div>




    <div class="table-responsive" id="entities" *ngIf="employees && employees.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>SL</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="empId"><span>Emp Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="department.name"><span>Department</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="designation.name"><span>Designation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="grade.name"><span>Grade</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="category"><span>Category</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span>Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span>Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees ;trackBy: trackId; index as i">
                    <td><a [routerLink]="['/employee', employee.id, 'view']">{{ (page -1) * itemsPerPage + (i+1)}}</a></td>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.empId }}</td>
                    <td>{{employee.department?.name}}</td>
                    <td>{{employee.designation?.name}}</td>
                    <td>{{employee.grade?.name}}</td>
                    <td>{{ employee.category }}</td>
                    <td>{{ employee.type }}</td>
                    <td>{{ employee.status }}</td>
                    <td class="text-right">
                        <div class="btn-group">


                            <button type="submit"
                                    [routerLink]="['/employee', employee.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/employee', employee.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">Details</span>
                            </button>

                            <button type="submit" (click)="delete(employee)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="employees && employees.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="fetch($event)"></ngb-pagination>
        </div>
    </div>
</div>
