<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-monthly-salary-dtl-heading">Create or edit a Monthly Salary Dtl</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_gross">Gross</label>
                    <input type="number" class="form-control" name="gross" id="field_gross"
                           formControlName="gross"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_basic">Basic</label>
                    <input type="number" class="form-control" name="basic" id="field_basic"
                           formControlName="basic"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_basicPercent">Basic Percent</label>
                    <input type="number" class="form-control" name="basicPercent" id="field_basicPercent"
                           formControlName="basicPercent"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_houseRent">House Rent</label>
                    <input type="number" class="form-control" name="houseRent" id="field_houseRent"
                           formControlName="houseRent"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_houseRentPercent">House Rent Percent</label>
                    <input type="number" class="form-control" name="houseRentPercent" id="field_houseRentPercent"
                           formControlName="houseRentPercent"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_medicalAllowance">Medical Allowance</label>
                    <input type="number" class="form-control" name="medicalAllowance" id="field_medicalAllowance"
                           formControlName="medicalAllowance"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_medicalAllowancePercent">Medical Allowance Percent</label>
                    <input type="number" class="form-control" name="medicalAllowancePercent" id="field_medicalAllowancePercent"
                           formControlName="medicalAllowancePercent"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_convinceAllowance">Convince Allowance</label>
                    <input type="number" class="form-control" name="convinceAllowance" id="field_convinceAllowance"
                           formControlName="convinceAllowance"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_convinceAllowancePercent">Convince Allowance Percent</label>
                    <input type="number" class="form-control" name="convinceAllowancePercent" id="field_convinceAllowancePercent"
                           formControlName="convinceAllowancePercent"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_foodAllowance">Food Allowance</label>
                    <input type="number" class="form-control" name="foodAllowance" id="field_foodAllowance"
                           formControlName="foodAllowance"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_foodAllowancePercent">Food Allowance Percent</label>
                    <input type="number" class="form-control" name="foodAllowancePercent" id="field_foodAllowancePercent"
                           formControlName="foodAllowancePercent"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_fine">Fine</label>
                    <input type="number" class="form-control" name="fine" id="field_fine"
                           formControlName="fine"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_advance">Advance</label>
                    <input type="number" class="form-control" name="advance" id="field_advance"
                           formControlName="advance"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_totalWorkingDays">Total Working Days</label>
                    <input type="number" class="form-control" name="totalWorkingDays" id="field_totalWorkingDays"
                           formControlName="totalWorkingDays"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_regularLeave">Regular Leave</label>
                    <input type="number" class="form-control" name="regularLeave" id="field_regularLeave"
                           formControlName="regularLeave"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_sickLeave">Sick Leave</label>
                    <input type="number" class="form-control" name="sickLeave" id="field_sickLeave"
                           formControlName="sickLeave"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_compensationLeave">Compensation Leave</label>
                    <input type="number" class="form-control" name="compensationLeave" id="field_compensationLeave"
                           formControlName="compensationLeave"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_festivalLeave">Festival Leave</label>
                    <input type="number" class="form-control" name="festivalLeave" id="field_festivalLeave"
                           formControlName="festivalLeave"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_weeklyLeave">Weekly Leave</label>
                    <input type="number" class="form-control" name="weeklyLeave" id="field_weeklyLeave"
                           formControlName="weeklyLeave"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_present">Present</label>
                    <input type="number" class="form-control" name="present" id="field_present"
                           formControlName="present"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_absent">Absent</label>
                    <input type="number" class="form-control" name="absent" id="field_absent"
                           formControlName="absent"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_totalMonthDays">Total Month Days</label>
                    <input type="number" class="form-control" name="totalMonthDays" id="field_totalMonthDays"
                           formControlName="totalMonthDays"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_overTimeHour">Over Time Hour</label>
                    <input type="number" class="form-control" name="overTimeHour" id="field_overTimeHour"
                           formControlName="overTimeHour"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_overTimeSalaryHourly">Over Time Salary Hourly</label>
                    <input type="number" class="form-control" name="overTimeSalaryHourly" id="field_overTimeSalaryHourly"
                           formControlName="overTimeSalaryHourly"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_overTimeSalary">Over Time Salary</label>
                    <input type="number" class="form-control" name="overTimeSalary" id="field_overTimeSalary"
                           formControlName="overTimeSalary"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_presentBonus">Present Bonus</label>
                    <input type="number" class="form-control" name="presentBonus" id="field_presentBonus"
                           formControlName="presentBonus"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_absentFine">Absent Fine</label>
                    <input type="number" class="form-control" name="absentFine" id="field_absentFine"
                           formControlName="absentFine"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_stampPrice">Stamp Price</label>
                    <input type="number" class="form-control" name="stampPrice" id="field_stampPrice"
                           formControlName="stampPrice"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_tax">Tax</label>
                    <input type="number" class="form-control" name="tax" id="field_tax"
                           formControlName="tax"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_others">Others</label>
                    <input type="number" class="form-control" name="others" id="field_others"
                           formControlName="others"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_totalPayable">Total Payable</label>
                    <input type="number" class="form-control" name="totalPayable" id="field_totalPayable"
                           formControlName="totalPayable"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="DONE">DONE</option>
                        <option value="NOT_DONE">NOT_DONE</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="FULL">FULL</option>
                        <option value="PARTIAL">PARTIAL</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_executedOn">Executed On</label>
                    <div class="d-flex">
                        <input id="field_executedOn" type="datetime-local" class="form-control" name="executedOn" formControlName="executedOn" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_executedBy">Executed By</label>
                    <input type="text" class="form-control" name="executedBy" id="field_executedBy"
                           formControlName="executedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_note">Note</label>
                    <textarea class="form-control" name="note" id="field_note"
                              formControlName="note"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_employee">Employee</label>
                    <select class="form-control" id="field_employee" name="employee" formControlName="employee">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="employeeOption.id === editForm.get('employee')!.value?.id ? editForm.get('employee')!.value : employeeOption" *ngFor="let employeeOption of employees; trackBy: trackById">{{ employeeOption.name }}</option>
                    </select>
                </div>


            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
