<div>
    <h2 id="page-heading">
        <span>Attendances</span>

        <span class="btn btn-group float-right">
            <button id="jh-bulk-create-entity" class="btn btn-success jh-create-entity create-attendance-data-upload"
                    [routerLink]="['/attendance-data-upload/new']">
                <fa-icon icon="upload"></fa-icon>
                <span>
            Data Upload
            </span>
            </button>

            <button id="jh-create-entity" class="btn btn-primary jh-create-entity create-attendance"
                    [routerLink]="['/attendance/new']">
                <fa-icon icon="plus"></fa-icon>
                <span>
            Create a new Attendance
            </span>
            </button>
        </span>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="attendances?.length === 0">
        <span>No attendances found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="attendances && attendances.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                <th scope="col" jhiSortBy="id"><span>ID</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="attendanceTime"><span>Attendance Time</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="machineNo"><span>Machine No</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="markedAs"><span>Marked As</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="leaveApplied"><span>Leave Applied</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="employeeMachineId"><span>Employee Machine Id</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="employeeCategory"><span>Employee Category</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="employeeType"><span>Employee Type</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="employee.name"><span>Employee</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="employeeSalary.id"><span>Employee Salary</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="department.id"><span>Department</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="designation.id"><span>Designation</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="line.id"><span>Line</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="grade.id"><span>Grade</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let attendance of attendances ;trackBy: trackId">
                <td><a [routerLink]="['/attendance', attendance.id, 'view']">{{ attendance.id }}</a></td>
                <td>{{ attendance.attendanceTime | date:'medium' }}</td>
                <td>{{ attendance.machineNo }}</td>
                <td>{{ attendance.markedAs }}</td>
                <td>{{ attendance.leaveApplied }}</td>
                <td>{{ attendance.employeeMachineId }}</td>
                <td>{{ attendance.employeeCategory }}</td>
                <td>{{ attendance.employeeType }}</td>
                <td>
                    <div *ngIf="attendance.employee">
                        <a [routerLink]="['/employee', attendance.employee?.id, 'view']">{{ attendance.employee?.name }}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="attendance.employeeSalary">
                        <a [routerLink]="['/employee-salary', attendance.employeeSalary?.id, 'view']">{{ attendance.employeeSalary?.id }}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="attendance.department">
                        <a [routerLink]="['/department', attendance.department?.id, 'view']">{{ attendance.department?.id }}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="attendance.designation">
                        <a [routerLink]="['/designation', attendance.designation?.id, 'view']">{{ attendance.designation?.id }}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="attendance.line">
                        <a [routerLink]="['/line', attendance.line?.id, 'view']">{{ attendance.line?.id }}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="attendance.grade">
                        <a [routerLink]="['/grade', attendance.grade?.id, 'view']">{{ attendance.grade?.id }}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/attendance', attendance.id, 'view']"
                                class="btn btn-info btn-sm">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>

                        <button type="submit"
                                [routerLink]="['/attendance', attendance.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon icon="pencil-alt"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>

                        <button type="submit" (click)="delete(attendance)"
                                class="btn btn-danger btn-sm">
                            <fa-icon icon="times"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="attendances && attendances.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage"
                            [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                            (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
