<div>
    <h2 id="page-heading">
        <span>Attendances</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-attendance-data-upload"
                [routerLink]="['/attendance-data-upload/new']">
            <fa-icon icon="upload"></fa-icon>
            <span>
            Data Upload
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-md-8">
            <form>
                <h4>Filter by date</h4>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">from</span>
                    </div>
                    <input type="date" class="form-control" name="start" [(ngModel)]="fromDate"
                           required/>

                    <div class="input-group-append">
                        <span class="input-group-text">To</span>
                    </div>
                    <input type="date" class="form-control" name="end" [(ngModel)]="toDate"
                           required/>

                    <button type="submit" class="btn btn-info" (click)="loadPage()">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="attendances?.length === 0">
        <span>No attendances found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="attendances && attendances.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                <th scope="col" jhiSortBy="id"><span>ID</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="employee.name"><span>Employee</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="machineNo"><span>Machine No</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="attendanceDate"><span>Attendance Date</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="attendanceTime"><span>Attendance Time</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="considerAs"><span>Consider As</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let attendance of attendances ;trackBy: trackId">
                <td><a [routerLink]="['/attendance', attendance.id, 'view']">{{ attendance.id }}</a></td>
                <td>
                    <div *ngIf="attendance.employee">
                        <a [routerLink]="['/employee', attendance.employee?.id, 'view']">{{ attendance.employee?.name }}</a>
                    </div>
                </td>
                <td>{{ attendance.machineNo }}</td>
                <td>{{ attendance.attendanceDate | date:'mediumDate' }}</td>
                <td>{{ attendance.attendanceTime | date:"mediumTime":"+0000" }}</td>
                <td>{{ attendance.considerAs }}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/attendance', attendance.id, 'view']"
                                class="btn btn-info btn-sm">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>

                        <button type="submit"
                                [routerLink]="['/attendance', attendance.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon icon="pencil-alt"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>

                        <button type="submit" (click)="delete(attendance)"
                                class="btn btn-danger btn-sm">
                            <fa-icon icon="times"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="attendances && attendances.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage"
                            [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                            (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
