<div>
    <h2 id="page-heading">
        <span>Attendances</span>

        <span>
            <button id="jh-bulk-create-entity"
                    class="btn btn-success jh-create-entity create-attendance-data-upload float-right"
                    [routerLink]="['/attendance-data-upload/new']">
                <fa-icon icon="upload"></fa-icon>
                <span>
            Data Upload
            </span>
            </button>
        </span>
        <span>
            <button id="jh-create-entity" class="btn btn-primary jh-create-entity create-attendance float-right"
                    [routerLink]="['/attendance/new']">
                    <fa-icon icon="plus"></fa-icon>
                <span>
                Create a new Attendance
                </span>
            </button>
        </span>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="attendances?.length === 0">
        <span>No attendances found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="attendances && attendances.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                <th scope="col" jhiSortBy="id"><span>ID</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="employee.name"><span>Employee</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="employee.localId"><span>Employee ID</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
<!--                <th scope="col" jhiSortBy="employeeMachineId"><span>Employee Machine Id</span>-->
<!--                    <fa-icon icon="sort"></fa-icon>-->
<!--                </th>-->
                <th scope="col" jhiSortBy="machineNo"><span>Machine No</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="attendanceTime"><span>Attendance Time</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let attendance of attendances ;trackBy: trackId">
                <td><a [routerLink]="['/attendance', attendance.id, 'view']">{{ attendance.id }}</a></td>
                <td>
                    <div *ngIf="attendance.employee">
                        <a [routerLink]="['/employee', attendance.employee?.id, 'view']">{{ attendance.employee?.name }}</a>
                    </div>
                </td>
                <td>{{ attendance.employeeMachineId }}</td>
                <td>{{ attendance.machineNo }}</td>
                <td>{{ attendance.attendanceTime | date:"medium":"+0000" }}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/attendance', attendance.id, 'view']"
                                class="btn btn-info btn-sm">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>

                        <button type="submit"
                                [routerLink]="['/attendance', attendance.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon icon="pencil-alt"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>

                        <button type="submit" (click)="delete(attendance)"
                                *jhiHasAnyAuthority="['ROLE_ADMIN']"
                                class="btn btn-danger btn-sm">
                            <fa-icon icon="times"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="attendances && attendances.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage"
                            [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                            (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
