<div>
    <h2 id="page-heading">
        <span>Weekend Date Maps</span>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="weekendDateMaps?.length === 0">
        <span>No weekendDateMaps found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="weekendDateMaps && weekendDateMaps.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>Serial No</span></th>
                    <th scope="col" ><span>Weekend Date</span></th>
                    <th scope="col" ><span>Weekend</span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let weekendDateMap of weekendDateMaps ;trackBy: trackId">
                    <td>{{ weekendDateMap.serialNo }}</td>
                    <td>{{ weekendDateMap.weekendDate | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="weekendDateMap.weekendId">
                            <a [routerLink]="['/weekend', weekendDateMap.weekendId , 'view']" >{{ weekendDateMap.weekendDay }}</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
