
<div class="form-row align-items-end" >
    <div class="col-md-12">
        <jhi-alert></jhi-alert>
    </div>
    <div class="form-group col-md-2">
        <label class="form-control-label" for="field_year">Year</label>
        <select class="form-control" id="field_year" name="year" [(ngModel)]="selectedYear">
            <option [value]="yearOption"  *ngFor="let yearOption of years">{{yearOption}}</option>
        </select>
    </div>
    <div class="form-group col-md-2">
        <label class="form-control-label" for="field_month">Month</label>
        <select class="form-control" name="month"  id="field_month" [(ngModel)]="selectedMonth">
            <option value="JANUARY">JANUARY</option>
            <option value="FEBRUARY">FEBRUARY</option>
            <option value="MARCH">MARCH</option>
            <option value="APRIL">APRIL</option>
            <option value="MAY">MAY</option>
            <option value="JUNE">JUNE</option>
            <option value="JULY">JULY</option>
            <option value="AUGUST">AUGUST</option>
            <option value="SEPTEMBER">SEPTEMBER</option>
            <option value="OCTOBER">OCTOBER</option>
            <option value="NOVEMBER">NOVEMBER</option>
            <option value="DECEMBER">DECEMBER</option>
        </select>
    </div>
    <div class="form-group col-md-2">
        <label class="form-control-label" for="field_designation">Designation</label>
        <select class="form-control" id="field_designation" name="designation" [(ngModel)]="selectedDesignationId" (ngModelChange)="designationIdChanged()">
            <option></option>
            <option [ngValue]="designationOption.id" *ngFor="let designationOption of designations">{{designationOption.name}}</option>
        </select>
    </div>
    <div class="form-group col-md-2">
        <label class="form-control-label" for="field_fromDate">From Date</label>
        <div class="input-group">
            <input id="field_fromDate" type="text" class="form-control" [(ngModel)]="fromDate" name="fromDate" ngbDatepicker #fromDateDp="ngbDatepicker"/>
            <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fromDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
        </div>
    </div>

    <div class="form-group col-md-2">
        <label class="form-control-label" for="field_toDate">To Date</label>
        <div class="input-group">
            <input id="field_toDate" type="text"  [(ngModel)]="toDate" class="form-control" name="toDate" ngbDatepicker #toDateDp="ngbDatepicker" />
            <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="toDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
        </div>
    </div>
    <div class="form-group col-md-2" style="align-items: end;">
        <button class="btn btn-secondary" (click)="navigate()">Fetch</button>
    </div>
</div>

<div class="row alert alert-warning" *ngIf="monthlySalary">
    <div class="col-md-10">
        Payroll of the month <b>{{this.selectedMonth}}</b> status: <b>{{this.monthlySalary.status === 'DONE'? 'Payroll Generated': 'Payroll Not Generated'}}</b>
    </div>
    <div class="col-md-2" *ngIf="monthlySalary.status==='DONE'" align="right">
        <button class="btn btn-primary" >Re-Generate Payroll</button>
    </div>
    <div class="col-md-2" *ngIf="monthlySalary.status==='NOT_DONE'" align="right">
        <button class="btn btn-secondary" >Generate Payroll</button>
    </div>
    <div class="col-md-12">

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <router-outlet></router-outlet>
    </div>
</div>
