<div class="row justify-content-center">

    <div class="col-12">
        <div *ngIf="festivalAllowancePayment">
            <h2><span>Festival Allowance Payment Details</span> </h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row ">
                <dt class="col-md-1"><span>Year</span></dt>
                <dd class="col-md-1">
                    <span>{{ festivalAllowancePayment.year }}</span>
                </dd>
                <dt class="col-md-1"><span>Month</span></dt>
                <dd class="col-md-1">
                    <span>{{ festivalAllowancePayment.month }}</span>
                </dd>
                <dt class="col-md-1"><span>Status</span></dt>
                <dd class="col-md-1">
                    <span>{{ festivalAllowancePayment.status }}</span>
                </dd>
                <dt class="col-md-1"><span>Designation</span></dt>
                <dd class="col-md-1">
                    <div *ngIf="festivalAllowancePayment.designation">
                        {{ festivalAllowancePayment.designation?.name }}
                    </div>
                </dd>
            </dl>


        </div>
    </div>
    <div class="col-md-12">
       <router-outlet></router-outlet>
    </div>
    <div class="col-md-12">
        <button type="submit"
                (click)="previousState()"
                class="btn btn-info">
            <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button"
                [routerLink]="['/festival-allowance-payment', festivalAllowancePayment?.id!, 'edit']"
                class="btn btn-primary">
            <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Re-Generate</span>
        </button>
    </div>
</div>
