<div>
    <h2 id="page-heading">
        <span>Attendance Summaries</span>

        <div style="float: right">
            <button class="btn btn-success" (click)="download()">
                <fa-icon icon="download"></fa-icon>
                Download
            </button>
        </div>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <form>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Department</span>
            </div>
            <select class="form-control" name="department"
                    [(ngModel)]="departmentId" required>
                <option [ngValue]="-1" selected>Select All</option>
                <option [ngValue]="departmentOption.id"
                        *ngFor="let departmentOption of departments;">{{ departmentOption.name }}</option>
            </select>
            <div class="input-group-prepend">
                <span class="input-group-text">Id</span>
            </div>
            <input type="text" class="form-control" name="empId" [(ngModel)]="empId"
                   required/>
            <div class="input-group-prepend">
                <span class="input-group-text">Employee</span>
            </div>
            <select class="form-control" name="employee"
                    [(ngModel)]="employeeId" required>
                <option [ngValue]="-1" selected>Select All</option>
                <option [ngValue]="employeeOption.id"
                        *ngFor="let employeeOption of employees;">{{ employeeOption.name }}</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">from</span>
            </div>
            <input type="date" class="form-control" name="start" [(ngModel)]="fromDate"
                   required/>

            <div class="input-group-append">
                <span class="input-group-text">To</span>
            </div>
            <input type="date" class="form-control" name="end" [(ngModel)]="toDate"
                   required/>

            <div class="input-group-append">
                <span class="input-group-text">Marked As</span>
            </div>
            <select class="form-control" name="markedType"
                    [(ngModel)]="markedType" required>
                <option value="null">Select All</option>
                <option value="R">Regular</option>
                <option value="WR">Weekend/Regular</option>
                <option value="HR">Holiday/Regular</option>
                <option value="WO">Weekend/Overtime</option>
                <option value="HO">Holiday/Overtime</option>
            </select>

            <button type="submit" class="btn btn-info" (click)="loadAll()">
                <fa-icon icon="search"></fa-icon>
            </button>

        </div>
    </form>

    <div class="alert alert-warning" id="no-result" *ngIf="attendanceSummaries?.length === 0">
        <span>No attendanceSummaries found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="attendanceSummaries && attendanceSummaries.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
                <th scope="col"><span>Sl.</span></th>
                <th scope="col"><span>Department</span></th>
                <th scope="col"><span>Id</span></th>
                <th scope="col"><span>Employee</span></th>
                <th scope="col"><span>Date</span></th>
                <th scope="col"><span>Id (Machine)</span></th>
                <th scope="col"><span>In</span></th>
                <th scope="col"><span>Out</span></th>
                <th scope="col"><span>Diff</span></th>
                <th scope="col"><span>OverTime</span></th>
                <th scope="col"><span>Status</span></th>
                <th scope="col"><span>MarkedAs</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let attendanceSummary of attendanceSummaries ;trackBy: trackId">
                <td>{{ attendanceSummary.serialNo }}</td>
                <td>
                    <div *ngIf="attendanceSummary.departmentId">
                        {{ attendanceSummary.departmentName }}
                    </div>
                </td>
                <td>
                    <div *ngIf="attendanceSummary.empId">
                        {{ attendanceSummary.empId }}
                    </div>
                </td>
                <td>
                    <div *ngIf="attendanceSummary.employeeId">
                        {{ attendanceSummary.employeeName }}
                    </div>
                </td>
                <td>{{ attendanceSummary.attendanceDate }}</td>
                <td>
                    <div *ngIf="attendanceSummary.employeeId">
                        {{ attendanceSummary.employeeMachineId }}
                    </div>
                </td>
                <td>{{ attendanceSummary.inTime | date:"medium":"+0000" }}</td>
                <td>{{ attendanceSummary.outTime | date:"medium":"+0000" }}</td>
                <td>{{ attendanceSummary.diff }}</td>
                <td>{{ attendanceSummary.overTime }}</td>
                <td>
                    <button class="btn btn-success btn-sm"
                            *ngIf="attendanceSummary.attendanceStatus==='Present'">{{ attendanceSummary.attendanceStatus }}
                    </button>
                    <button class="btn btn-danger btn-sm"
                            *ngIf="attendanceSummary.attendanceStatus==='Absent'">{{ attendanceSummary.attendanceStatus }}
                    </button>
                </td>
                <td>
                    <select class="form-control" name="markedAs" id="field_markedAs"
                            [(ngModel)]="attendanceSummary.attendanceMarkedAs">
                        <option value="R">Regular</option>
                        <option value="WR">Weekend/Regular</option>
                        <option value="HR">Holiday/Regular</option>
                        <option value="WO">Weekend/Overtime</option>
                        <option value="HO">Holiday/Overtime</option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row" *ngIf="attendanceSummaries && attendanceSummaries.length > 0">
        <div class="col-3">
            <select class="form-control" name="bulk_markedType"
                    [(ngModel)]="bulkMarkedType" (ngModelChange)="updateBulkMarkedAs()">
                <option value="R">Regular</option>
                <option value="WR">Weekend/Regular</option>
                <option value="HR">Holiday/Regular</option>
                <option value="WO">Weekend/Overtime</option>
                <option value="HO">Holiday/Overtime</option>
            </select>
        </div>
        <div class="col-9">
            <button type="button" [disabled]="isSaving" (click)="updateMarkedAs()"
                    class="btn btn-success">
                <span class="d-none d-md-inline">Update</span>
            </button>
        </div>
    </div>
</div>
