<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="designation">
            <h2><span>Designation</span> <b>{{ designation.name }}</b></h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Category</span></dt>
                <dd>
                    <span>{{ designation.category }}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ designation.name }}</span>
                </dd>
                <dt><span>Short Name</span></dt>
                <dd>
                    <span>{{ designation.shortName }}</span>
                </dd>
                <dt><span>Name In Bangla</span></dt>
                <dd>
                    <span>{{ designation.nameInBangla }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ designation.description }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/designation', designation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
