<div>
    <h2 id="page-heading">
        <span>Fine Payment Histories</span>

    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="finePaymentHistories?.length === 0">
        <span>No finePaymentHistories found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="finePaymentHistories && finePaymentHistories.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="year"><span>Year</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="monthType"><span>Month Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="amount"><span>Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="beforeFine"><span>Before Fine</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="afterFine"><span>After Fine</span> <fa-icon icon="sort"></fa-icon></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let finePaymentHistory of finePaymentHistories ;trackBy: trackId">
                    <td><a [routerLink]="['/fine-payment-history', finePaymentHistory.id, 'view']">{{ finePaymentHistory.id }}</a></td>
                    <td>{{ finePaymentHistory.year }}</td>
                    <td>{{ finePaymentHistory.monthType }}</td>
                    <td>{{ finePaymentHistory.amount }}</td>
                    <td>{{ finePaymentHistory.beforeFine }}</td>
                    <td>{{ finePaymentHistory.afterFine }}</td>

                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="finePaymentHistories && finePaymentHistories.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
