<div>
    <h2 id="page-heading">
        <span>Service Histories</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-service-history" [routerLink]="['/service-history/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Service History
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="serviceHistories?.length === 0">
        <span>No serviceHistories found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="serviceHistories && serviceHistories.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="employeeType"><span>Employee Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="category"><span>Category</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="from"><span>From</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="to"><span>To</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="attachment"><span>Attachment</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span>Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="department.name"><span>Department</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="designation.name"><span>Designation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="grade.name"><span>Grade</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="employee.name"><span>Employee</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let serviceHistory of serviceHistories ;trackBy: trackId">
                    <td><a [routerLink]="['/service-history', serviceHistory.id, 'view']">{{ serviceHistory.id }}</a></td>
                    <td>{{ serviceHistory.employeeType }}</td>
                    <td>{{ serviceHistory.category }}</td>
                    <td>{{ serviceHistory.from | date:'mediumDate' }}</td>
                    <td>{{ serviceHistory.to | date:'mediumDate' }}</td>
                    <td>
                        <a *ngIf="serviceHistory.attachment" (click)="openFile(serviceHistory.attachmentContentType, serviceHistory.attachment)">open</a>
                        <span *ngIf="serviceHistory.attachment">{{ serviceHistory.attachmentContentType }}, {{ byteSize(serviceHistory.attachment) }}</span>
                    </td>
                    <td>{{ serviceHistory.status }}</td>
                    <td>
                        <div *ngIf="serviceHistory.department">
                            <a [routerLink]="['/department', serviceHistory.department?.id, 'view']" >{{ serviceHistory.department?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="serviceHistory.designation">
                            <a [routerLink]="['/designation', serviceHistory.designation?.id, 'view']" >{{ serviceHistory.designation?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="serviceHistory.grade">
                            <a [routerLink]="['/grade', serviceHistory.grade?.id, 'view']" >{{ serviceHistory.grade?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="serviceHistory.employee">
                            <a [routerLink]="['/employee', serviceHistory.employee?.id, 'view']" >{{ serviceHistory.employee?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/service-history', serviceHistory.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/service-history', serviceHistory.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(serviceHistory)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="serviceHistories && serviceHistories.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
