<div>
    <h2 id="page-heading">
        <span>Personal Infos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-personal-info" [routerLink]="['/personal-info/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Personal Info
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="personalInfos?.length === 0">
        <span>No personalInfos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="personalInfos && personalInfos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="banglaName"><span>Bangla Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="photo"><span>Photo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="photoId"><span>Photo Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fatherName"><span>Father Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fatherNameBangla"><span>Father Name Bangla</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="motherName"><span>Mother Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="motherNameBangla"><span>Mother Name Bangla</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="maritalStatus"><span>Marital Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spouseName"><span>Spouse Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spouseNameBangla"><span>Spouse Name Bangla</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateOfBirth"><span>Date Of Birth</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nationalId"><span>National Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nationalIdAttachment"><span>National Id Attachment</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nationalIdAttachmentId"><span>National Id Attachment Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="birthRegistration"><span>Birth Registration</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="birthRegistrationAttachment"><span>Birth Registration Attachment</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="birthRegistrationAttachmentId"><span>Birth Registration Attachment Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="height"><span>Height</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="gender"><span>Gender</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="religion"><span>Religion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bloodGroup"><span>Blood Group</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="emergencyContact"><span>Emergency Contact</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="employee.name"><span>Employee</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let personalInfo of personalInfos ;trackBy: trackId">
                    <td><a [routerLink]="['/personal-info', personalInfo.id, 'view']">{{ personalInfo.id }}</a></td>
                    <td>{{ personalInfo.name }}</td>
                    <td>{{ personalInfo.banglaName }}</td>
                    <td>
                        <a *ngIf="personalInfo.photo" (click)="openFile(personalInfo.photoContentType, personalInfo.photo)">open</a>
                        <span *ngIf="personalInfo.photo">{{ personalInfo.photoContentType }}, {{ byteSize(personalInfo.photo) }}</span>
                    </td>
                    <td>{{ personalInfo.photoId }}</td>
                    <td>{{ personalInfo.fatherName }}</td>
                    <td>{{ personalInfo.fatherNameBangla }}</td>
                    <td>{{ personalInfo.motherName }}</td>
                    <td>{{ personalInfo.motherNameBangla }}</td>
                    <td>{{ personalInfo.maritalStatus }}</td>
                    <td>{{ personalInfo.spouseName }}</td>
                    <td>{{ personalInfo.spouseNameBangla }}</td>
                    <td>{{ personalInfo.dateOfBirth | date:'mediumDate' }}</td>
                    <td>{{ personalInfo.nationalId }}</td>
                    <td>
                        <a *ngIf="personalInfo.nationalIdAttachment" (click)="openFile(personalInfo.nationalIdAttachmentContentType, personalInfo.nationalIdAttachment)">open</a>
                        <span *ngIf="personalInfo.nationalIdAttachment">{{ personalInfo.nationalIdAttachmentContentType }}, {{ byteSize(personalInfo.nationalIdAttachment) }}</span>
                    </td>
                    <td>{{ personalInfo.nationalIdAttachmentId }}</td>
                    <td>{{ personalInfo.birthRegistration }}</td>
                    <td>
                        <a *ngIf="personalInfo.birthRegistrationAttachment" (click)="openFile(personalInfo.birthRegistrationAttachmentContentType, personalInfo.birthRegistrationAttachment)">open</a>
                        <span *ngIf="personalInfo.birthRegistrationAttachment">{{ personalInfo.birthRegistrationAttachmentContentType }}, {{ byteSize(personalInfo.birthRegistrationAttachment) }}</span>
                    </td>
                    <td>{{ personalInfo.birthRegistrationAttachmentId }}</td>
                    <td>{{ personalInfo.height }}</td>
                    <td>{{ personalInfo.gender }}</td>
                    <td>{{ personalInfo.religion }}</td>
                    <td>{{ personalInfo.bloodGroup }}</td>
                    <td>{{ personalInfo.emergencyContact }}</td>
                    <td>
                        <div *ngIf="personalInfo.employee">
                            <a [routerLink]="['/employee', personalInfo.employee?.id, 'view']" >{{ personalInfo.employee?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/personal-info', personalInfo.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/personal-info', personalInfo.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(personalInfo)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="personalInfos && personalInfos.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
