<div>
    <h2 id="page-heading">
        <span>Districts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-district" [routerLink]="['/district/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new District
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="districts?.length === 0">
        <span>No districts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="districts && districts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bangla"><span>Bangla</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="web"><span>Web</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="division.name"><span>Division</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let district of districts ;trackBy: trackId">
                    <td><a [routerLink]="['/district', district.id, 'view']">{{ district.id }}</a></td>
                    <td>{{ district.name }}</td>
                    <td>{{ district.bangla }}</td>
                    <td>{{ district.web }}</td>
                    <td>
                        <div *ngIf="district.division">
                            <a [routerLink]="['/division', district.division?.id, 'view']" >{{ district.division?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/district', district.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/district', district.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(district)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="districts && districts.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
