<div>
    <h2 id="page-heading">
        <span>Vehicles</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vehicle" [routerLink]="['/vehicle/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Vehicle
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="vehicles?.length === 0">
        <span>No vehicles found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="vehicles && vehicles.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="vehicleId"><span>Vehicle Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span>Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="colour"><span>Colour</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numberOfCylinders"><span>Number Of Cylinders</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="engineNumber"><span>Engine Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="horsePower"><span>Horse Power</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vehicle of vehicles ;trackBy: trackId">
                    <td><a [routerLink]="['/vehicle', vehicle.id, 'view']">{{ vehicle.id }}</a></td>
                    <td>{{ vehicle.name }}</td>
                    <td>{{ vehicle.vehicleId }}</td>
                    <td>{{ vehicle.type }}</td>
                    <td>{{ vehicle.colour }}</td>
                    <td>{{ vehicle.numberOfCylinders }}</td>
                    <td>{{ vehicle.engineNumber }}</td>
                    <td>{{ vehicle.horsePower }}</td>
<!--                    <td>-->
<!--                        <div *ngIf="vehicle.customer">-->
<!--                            <a [routerLink]="['/customer', vehicle.customer?.id, 'view']" >{{ vehicle.customer?.name }}</a>-->
<!--                        </div>-->
<!--                    </td>-->
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/vehicle', vehicle.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/vehicle', vehicle.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(vehicle)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="vehicles && vehicles.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
